<!DOCTYPE html>
<html>
	<head>
		<meta charset=utf-8>
		<meta name=viewport content=width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no>
		<title>Questionable Quotes</title>
		<link href=https://fonts.googleapis.com/css?family=Satisfy rel=stylesheet>
		<link href=/assets/base.css rel=stylesheet>
	</head>

	<body>
		<main>
			<header>
				<img src=/assets/logo.png alt="Questionable Quotes" />
			</header>

			{{{content}}}

			<footer>
				<img src=/assets/logo.png alt="Questionable Quotes" />
			</footer>
		</main>

		<script src=/assets/api.js></script>
		<script src=/assets/base.js></script>
	</body>
</html>
